---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Über mich"
	description="Curriculum Vitae"
	pubDate={new Date('September 02 2023')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Mein Name ist Philipp Hügelmeyer, ich habe an der Universität Osnabrück Computerlinguistik und künstliche Intelligenz, 
		Informatik und Philiosophie studiert und mit 2002 Magister abgeschlossen. Seitdem habe ich unter anderem beim Fraunhofer 
		Insitiut für intelligente Analyse- und Informationssysteme, dem Bundesamt für Sicherheit in der Informatikstechnik und
		der Uni Osnabrück gearbeitet. 
	</p>
	<p>
		Seit 2009 bin ich bei der Bundesanstalt für Landwirtschaft und Ernährung als Architekt in der IT tätig.
	</p>
</Layout>
