---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import { getTitle, getDateString, getDate } from "../../public/helper";
import Hamburger from "../components/Hamburger.astro";

const posts = (await getCollection("blog")).sort(
	(a, b) => getDateString(b.id) - getDateString(a.id),
);
---

<!doctype html>
<html lang="de">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			.container {
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				gap: 10px;
			}
			.dateitem {
				text-align: right;
			}

			.textitem {
				grid-column: span 2;
				text-align: left;
			}

			@media (max-width: 720px) {
				.container {
					display: grid;
					grid-template-columns: 0.5fr 0.5fr 1fr;
					gap: 10px;
				}

				.textitem {
					text-align: left;
				}
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<Hamburger />
			<div class="container">
				{
					posts.map((post) => (
						<>
							<div class="textitem">
								<a href={`/blog/${post.slug}/`}>
									{post.data.title
										? post.data.title
										: getTitle(post.id)}
								</a>
							</div>
							<div class="dateitem">
								<FormattedDate date={getDate(post.id)} />
							</div>
						</>
					))
				}
			</div>
		</main>
		<Footer />
	</body>
</html>
