---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Hamburger from '../components/Hamburger.astro';
type Props = CollectionEntry<'blog'>;

const { id,data} = Astro.props;
---

<!doctype html>
<html lang="de">
	<head>
		<BaseHead title={data.title?data.title:id.replaceAll("-"," ").substring(11,id.lastIndexOf("."))} description="" />
	</head>

	<body>
		<Header />
		<main>
			<Hamburger/>
			<article>
				<div class="prose">
					<div class="title">
						<h1>{data.title?data.title:id.replaceAll("-"," ").substring(11,id.lastIndexOf("."))}</h1>
						<FormattedDate date={new Date(id.substring(0,10))} />
						<hr />
					</div>
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
